<template name="roles">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Role Management</h1>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <th>User name</th>
                    <th>View Projects</th>
                    <th>Edit Projects</th>
                    <th>View Customers</th>
                    <th>Edit Customers</th>
                </thead>
                <tbody>
                    {{> role }}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">

        </div>
    </div>
</template>

<template name="role">
    <tr>
        <td>{{ username }}</td>
        <td><input type="checkbox" name="viewprojects" value=""/></td>
        <td><input type="checkbox" name="editprojects" value=""/></td>
        <td><input type="checkbox" name="viewcustomers" value=""/></td>
        <td><input type="checkbox" name="editcustomers" value=""/></td>
    </tr>
</template>
